<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rnkrsoft.platform.jdbc.dao.ConfigureUserRoutingDAO">
    <resultMap id="BaseResultMap" type="com.rnkrsoft.platform.jdbc.entity.ConfigureUserRoutingEntity">
        <!-- 物理主键 -->
        <id column="SERIAL_NO" property="serialNo" jdbcType="VARCHAR" />
        <!-- 用户识别码 -->
        <result column="UIC" property="uic" jdbcType="VARCHAR" />
        <!-- 设备类型，设备类型+用户识别码 优先匹配  -->
        <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
        <!-- 应用版本号， 如果在设备类型+用户识别码下，存在版本号就优先匹配 -->
        <result column="APP_VERSION" property="appVersion" jdbcType="VARCHAR" />
        <!-- 密钥向量 -->
        <result column="KEY_VECTOR" property="keyVector" jdbcType="VARCHAR" />
        <!-- HTTP连接超时时间 -->
        <result column="HTTP_CONNECT_TIMEOUT_SECOND" property="httpConnectTimeoutSecond" jdbcType="INTEGER" />
        <!-- HTTP读取时间 -->
        <result column="HTTP_READ_TIMEOUT_SECOND" property="httpReadTimeoutSecond" jdbcType="INTEGER" />
        <!-- 异步执行线程池大小 -->
        <result column="ASYNC_EXECUTE_THREAD_POOL_SIZE" property="asyncExecuteThreadPoolSize" jdbcType="INTEGER" />
        <!-- 是否为调试模式 -->
        <result column="DEBUG" property="debug" jdbcType="TINYINT" />
        <!-- 是否自动定位 -->
        <result column="AUTO_LOCATE" property="autoLocate" jdbcType="TINYINT" />
        <!-- 是否打印啰嗦日志 -->
        <result column="VERBOSE_LOG" property="verboseLog" jdbcType="TINYINT" />
        <!-- 模拟纬度 -->
        <result column="MOCK_LAT" property="mockLat" jdbcType="DECIMAL" />
        <!-- 模拟经度 -->
        <result column="MOCK_LNG" property="mockLng" jdbcType="DECIMAL" />
        <!-- 环境，关联配置环境表 -->
        <result column="ENV" property="env" jdbcType="INTEGER" />
        <!-- 优先级 -->
        <result column="PRIORITY" property="priority" jdbcType="INTEGER" />
        <!-- 是否启用 -->
        <result column="ENABLED" property="enabled" jdbcType="TINYINT" />
        <!-- 创建日期 -->
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <!-- 更新日期 -->
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        SERIAL_NO, UIC, DEVICE_TYPE, APP_VERSION, KEY_VECTOR, HTTP_CONNECT_TIMEOUT_SECOND, HTTP_READ_TIMEOUT_SECOND, ASYNC_EXECUTE_THREAD_POOL_SIZE, DEBUG, AUTO_LOCATE, VERBOSE_LOG, MOCK_LAT, MOCK_LNG, ENV, PRIORITY, ENABLED, CREATE_DATE, LAST_UPDATE_DATE
    </sql>

    <select id="selectByUic" resultMap="BaseResultMap">
       SELECT
          <include refid="Base_Column_List"/>
        FROM
          TB_CONFIGURE_USER_ROUTING
        WHERE UIC = #{uic}
        AND (DEVICE_TYPE IS NULL OR DEVICE_TYPE ='')
        AND (APP_VERSION IS NULL OR APP_VERSION='')
        AND ENABLED = 1
        ORDER BY PRIORITY DESC
        LIMIT 1
    </select>

    <select id="selectByDeviceTypeAndAppVersion" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        TB_CONFIGURE_USER_ROUTING
        WHERE DEVICE_TYPE = #{deviceType}
        AND APP_VERSION = #{appVersion}
        AND (UIC IS NULL OR UIC = '')
        AND ENABLED = 1
        ORDER BY PRIORITY DESC
        LIMIT 1
    </select>

    <select id="selectByAppVersion" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        TB_CONFIGURE_USER_ROUTING
        WHERE APP_VERSION = #{appVersion}
        AND (UIC IS NULL OR UIC = '')
        AND (DEVICE_TYPE IS NULL OR DEVICE_TYPE = '')
        AND ENABLED = 1
        ORDER BY PRIORITY DESC
        LIMIT 1
    </select>
</mapper>