<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rnkrsoft.platform.jdbc.dao.InterfaceRequestDAO" >
    <update id="updateStatusAndRspNo" timeout="60">
        update tb_interface_request
        set order_status = ${orderStatus}, response_no = #{responseNo}
        where request_no = #{requestNo} and  order_status = ${expectOrderStatus}
    </update>

    <update id="updateStatus" timeout="60">
        update tb_interface_request
        set order_status = ${orderStatus}
        where request_no = #{requestNo} and  order_status = ${expectOrderStatus}
    </update>
</mapper>